<div *ngIf="index%3 === 0" class="clearfix visible-md-block visible-lg-block"></div>
<div *ngIf="index%2 === 0" class="clearfix visible-sm-block"></div>
<div class=" col-md-4 col-sm-6">
    <div class="single-explore-item">
        <div class="single-explore-img">
            <img src="{{ store.picture }}" alt="shop image">            
        </div>
        <div class="single-explore-txt bg-theme-1">
            <div class="explore-person"> <!--Gray division line -->
            <h2><a href="{{ store.website }}" target="_blank" rel="noopener noreferrer"> {{ store.name }} </a></h2>
                 <div class="row">
                    <div class="col-sm-10">
                        <div class="explore-rating-price">
                            <a href="{{ store.googlemaps_link }}" target="_blank" rel="noopener noreferrer">
                                <p *ngIf="store.state; else elseBlock">{{ store.address }}, {{ store.state}}</p>
                                <ng-template #elseBlock>{{ store.address }}</ng-template></a>
                            <br>
                            <a href="{{ store.googlemaps_link }}" target="_blank" rel="noopener noreferrer">{{ store.country['name'] }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="explore-open-close-part">
                <div class="row">
                    <div class="col-xs-5">
                        <a href="{{ store.website }}" target="_blank" rel="noreferrer noopener">
                        <button class="close-btn open-btn">open website</button>
                        </a>
                    </div>                  
                    <div class="col-xs-7">
                        <div class="explore-map-icon">
                            <a href="{{ store.googlemaps_link }}" target="_blank" rel="noopener noreferrer"><fa-icon [icon]="faMapMarkerAlt"></fa-icon></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
